<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-pp-message data-bind="attr: {
        'class': getAttribute('class'),
        'data-money-format': currency,
        'data-product-price': amount,
        'data-min-price': getAttribute('data-min-price'),
        'data-max-price': getAttribute('data-max-price'),
        'data-widget-type': 'single_line',
        'data-currency-code': currencyCode
    }"  afterRender="renderMessage"></div>