<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="grabpay" translate="label comment" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GrabPay</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                    <comment>This controls the title which the user sees during checkout.</comment>
                </field>
                <field id="sandbox_mode" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Dev Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="partner_id" translate="label" type="text" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Partner Id</label>
                    <validate>required-entry</validate>
                </field>
                <field id="partner_secret" translate="label" type="obscure" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Partner Secret</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Id</label>
                    <validate>required-entry</validate>
                </field>
                <field id="client_secret" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="merchant_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant Id</label>
                    <validate>required-entry</validate>
                </field>

                <field id="allow_paylater" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow GrabPay PayLater</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="min_price_total" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Min Price Total (Pay Later)</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="allow_paylater">1</field>
                    </depends>
                </field>

                <field id="max_price_total" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Price Total (Pay Later)</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="allow_paylater">1</field>
                    </depends>
                </field>


                <!--
                <field id="new_payment_action" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Action</label>
                    <source_model>Octifi\Octifi\Model\System\Config\Source\PaymentActions</source_model>
                 </field> -->
                <field id="min_order_total" translate="label" type="text" sortOrder="98" showInDefault="1" showInWebsite="1">
                    <label>Minimum Order Total</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="max_order_total" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="1">
                    <label>Maximum Order Total</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <!--
                 <field id="payment_type" translate="label" type="select" sortOrder="37" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Type</label>
                    <source_model>Octifi\Octifi\Model\System\Config\Source\PaymentTypes</source_model>
                 </field> -->
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>

                <field id="sender_email_identity" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>

                <field id="export_file_template" translate="label comment" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GrabPay Export File Notification Template (Send to admin)</label>
                    <tooltip>This email is sent to vendor when place order.</tooltip>
                    <source_model>Vnecoms\GrabPay\Model\Config\Source\Email\Template</source_model>
                </field>

                <field id="email_to" translate="label" type="text" sortOrder="211" showInDefault="220" showInWebsite="1" showInStore="1">
                    <label>Email To</label>
                    <tooltip><![CDATA[This email will be sent to admin.]]></tooltip>
                </field>

            </group>
        </section>
    </system>
</config>